
input:focus{
  outline: none;
}


.avatar-circle {
  background-color: #008caa;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.initials {
  position: relative;
  font-size: 20px; /* 50% of parent */
  line-height: 45px; /* 50% of parent */
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

@media (min-width: 1200px) {

  #instantchat {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
  }

  .show-on-small-screen {
    display: none;
  }

  .hide-on-small-screen {
    display: block;
  }
}

@media (max-width: 992px) {

  #instantchat {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
  }

  .show-on-small-screen {
    display: none;
  }

  .hide-on-small-screen {
    display: block;
  }
}

@media (max-width: 768px) {
  .show-on-small-screen {
    display: block;
  }

  .hide-on-small-screen {
    display: none;
  }
}

@media (max-width: 576px) {
  .show-on-small-screen {
    display: block;
  }

  .hide-on-small-screen {
    display: none;
  }
}


.contacts {
  background: white;
  flex: 2;
  float: left;
  border-right: 1px solid #c4c4c4;

  .contact-list-header {
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;

    input {
      border-width: 0px;
      line-height: normal;
    }
  }

  .contact-list {
    overflow-y: scroll;
    margin-top: 16px;
    margin-bottom: 16px;

    ul {
      list-style-type: none;
      padding-left: 0;

      :hover {
        background-color: #c4c4c4;
        opacity: 1;
      }

      li {
        display: flex;
        padding: 2px;
        border-bottom: 1px solid #c4c4c4;
        position: relative;
        cursor: pointer;
        margin-bottom: 0;

        &.selected {
          background: #ebebeb;

          :hover {
            background-color: #ebebeb;
          }
        }

        .avator {
          flex: 1;
          display: none;
          align-items: center;
        }

        .chat_contact {
          /*flex: 2;*/
          font-size: 14px;
          overflow: hidden;
          margin-left: 10px;

          p {
            margin: 0;

            &.name {
              font-weight: bold;
            }

            &.email {
              font-size: 12px;
            }

            &.last_sent {
              text-align: right;
              margin-top: -10px;
              font-size: 10px;
              color: rgba(0, 140, 170, 0.68);
            }
          }
        }
      }
    }
  }
}


.conversations {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;

  .conversation-header {
    margin: 0;
    background: #f8f8f8;
    border-bottom: 1px solid #c4c4c4;

    .header h2 {
      color: #008caa;
      font-size: 18px;
      margin: auto;
    }
  }
}

.conversation-messages {
  background: linear-gradient(rgba(229, 221, 213, 0.94), rgba(229, 221, 213, 0.94)), url("./../img/chat-tile.png") repeat;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  ul {
    list-style-type: none;
    padding: 5px;

    li {
      &.message {
        margin: 10px;
        width: 100%;

        .text {
          max-width: 300px;
          border-radius: 5px;
          padding: 6px 7px 8px 9px;
          display: inline-block;
        }

        &.received {
          text-align: left;

          .text {
            color: black;
            background: #ffffff;
          }

          .sent_message_status {
            display: none;
          }
        }

        &.sent {
          text-align: right;

          .text {
            background: #e2f7cbe3;
            margin-right: 15px;
          }
        }

      }

    }
  }
}

.conversation-compose {

  background-color: rgb(240, 240, 240);

  textarea {
    min-height: 0;
    resize: none;
    padding: 7px;
    font-size: 14px;
  }
}

.unread-notification {
  background-color: #d20000;
  color: white;
}

.custom-scroll-bar-style::-webkit-scrollbar-track {
  background-color: #0000000f;
}

.custom-scroll-bar-style::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll-bar-style::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
}

.spiritual-stage {
  background-color: #ebebeb;

  .spiritual-stage-body {
    overflow-y: scroll;
  }
}

.spiritual-stage-header {
  margin: 0;
  background: #f8f8f8;
  border-bottom: 1px solid #c4c4c4;
}
